<!DOCTYPE html>
<html lang="en" class="no-js" data-ng-app="MetronicApp1">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
<base target="_self">
<title>FirstBPM</title>
<link href="/suite/plugins/metronic/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/metronic/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />                   
<link href="/suite/plugins/metronic/theme/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/metronic/theme/assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/metronic/theme/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<!-- bootstrap-sweetalert样式 -->
<link href="/suite/plugins/metronic/theme/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/processAndTasks/miniui3.6/themes/default/miniui.css" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/processAndTasks/miniui3.6/themes/default/large-mode.css" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/processAndTasks/miniui3.6/themes/pure/skin.css" rel="stylesheet" type="text/css" />
<!-- Add -->
<link href="/suite/plugins/metronic/theme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/metronic/theme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/suite/plugins/metronic/theme/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="/suite/plugins/metronic/theme/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
<!-- Add -->
</head>
<body>


<!-- new -->
<div class="row" ng-controller="newsAddController">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase"> 公告发布 -
                        <span class="step-title">  1 / 3 </span>
                    </span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" action="#" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> 第 一 步 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> 第 二 步 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> 第 三 步 </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success"> </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <!-- <button class="close" data-dismiss="alert"></button> 表单填写错误。 请检查！ </div> -->
                                    <button class="close" data-dismiss="alert"></button> 表单未填写完整。 请检查！ </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button> 表单验证成功！ </div>
                                <div class="tab-pane active" id="tab1">
                                    <!-- <h3 class="block">Provide your account details</h3> -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3">公告标题
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input id="accountName" class="form-control" name="fullname" width="100%" data-required="1" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">公告分类
                                            <span style="color:red;"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input id="accountType" class="mini-combobox" width="100%" height="34" name="forum" textField="forumName" valueField="forumId" url="/suite/plugins/servlet/query/GM_getForumNews"  showPopupOnClick="true" showButton="true"  allowInput="false" showNullItem="true" emptyText="请选择..." required="true"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <!-- <h3 class="block">Provide your profile details</h3> -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3">失效日期
                                        </label>
                                        <div class="col-md-4">
                                            <!-- <input type="text" class="form-control" name="" /> -->
                                            <input id="noStstusDate" class="mini-datepicker" height="34" width="100%" showButton="false" showPopupOnClick="true" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">查阅人员
                                        </label>
                                        <div class="col-md-4">
                                            <!-- <input type="text" class="form-control" name="phone" /> -->
                                            <input id="readPeo" class="mini-buttonedit" height="60" width="100%" showButton="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <!-- <h3 class="block">Provide your billing and credit card details</h3> -->
                                    <div class="form-group">
                                        <label class="control-label col-md-1">上传附件</label>
                                        <div class="col-md-11">
                                            <a href="javascript:;" ng-show="isClose" ngf-select="uploadFiles($files, $invalidFiles)" multiple="multiple" class="btn btn-default">附件上传
                                                <span class="glyphicon glyphicon-link"> </span>
                                            </a>
                                            <a ng-show="files.length&&isClose" href="javascript:;" ng-click="removeAll(files)" class="btn btn-default">删除所有
                                                <span class="glyphicon glyphicon-remove"> </span>
                                            </a>
                                            <div class="portlet-body">
                                                <div id="filess" class="table-scrollable" ng-show="files.length&&isClose">
                                                    <table class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <i class="fa fa-file"></i> 附件名称 </th>
                                                            <th class="hidden-xs">
                                                                <i class="fa fa-bitbucket-square"></i> 大小 </th>
                                                            <th>
                                                                <i class="fa fa-star"></i> 版本</th>
                                                            <th>
                                                                <i class="fa fa-hourglass-start"></i> 进度 </th>
                                                            <th><i class="fa fa-eye"></i> 状态</th>
                                                            <th><i class="fa fa-edit"></i> 操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="item in files">
                                                            <td class="highlight">
                                                                <div class="success"></div>
                                                                <a href="/suite/doc/{{item.field}}"><strong ng-bind="item.name"></strong></a>
                                                            </td>
                                                            <td class="hidden-xs" nowrap>
                                                                <span ng-bind="item.size/1024/1024|number:2"></span>MB
                                                            </td>
                                                            <td>
                                                                <span ng-bind="item.version"></span>
                                                            </td>
                                                            <td>
                                                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                    <span ng-show="item.status==200" class="text-success">
                                                                        <i class="glyphicon glyphicon-ok"></i>
                                                                    </span>
                                                                    <span ng-show="item.status!=200" class="text-danger">
                                                                        <i class="glyphicon glyphicon-remove"></i>
                                                                    </span>
                                                            </td>
                                                            <td nowrap>
                                                                <a href="javascript:;" ng-click="download(item)" class="btn btn-outline btn-circle btn-sm purple">
                                                                    <i class="fa fa-download"></i> 下载
                                                                </a>
                                                                <a href="javascript:;" ng-click="remove(item)" class="btn btn-outline btn-circle btn-sm purple">
                                                                    <i class="fa fa-remove"></i> 删除
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">编辑文本
                                        </label>
                                        <div class="col-md-11">
                                            <script id="UEditor" type="text/plain" style="width:100%;height:500px;"></script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> 返回 </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next"> 下一步
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="javascript:;" class="btn green button-submit" ng-click="submit()">
                                        发布公告
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<script src="/suite/plugins/metronic/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/suite/plugins/ntkodemo_js/js/jquery-ui-1.10.4.min.js"></script>
<script src="/suite/plugins/processAndTasks/miniui3.6/miniui.js"></script>
<script src="/suite/plugins/processAndTasks/js/common.js"></script>
<script src="/suite/forms/scripts/miniui/processTask.js" type="text/javascript"></script>
<script src="/suite/plugins/angulr/vendor/angular/angular.js"></script>
<script src="/suite/plugins/metronic/theme/assets/global/plugins/angularjs/plugins/js/ng-file-upload-shim.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/global/plugins/angularjs/plugins/js/ng-file-upload.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/global/scripts/app.min.js" type="text/javascript"></script>

<!-- <script src="/suite/plugins/ntkodemo_js/ntko/ntkofunction.js"></script> -->
<!-- bootstrap-sweetalert的js -->
<script src="/suite/plugins/metronic/theme/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>


<!-- Add -->
<script src="/suite/plugins/metronic/theme/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

<script src="/suite/plugins/metronic/theme/assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="/suite/plugins/metronic/theme/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
<!-- Add -->


<script src="js/apps/announcement/announcementAdd.js" type="text/javascript"></script>



<!-- 富文本编辑器UEditor所需文件 -->
<script type="text/javascript" charset="utf-8" src="/suite/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/suite/plugins/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/suite/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    //实例化编辑器
    var ue = UE.getEditor('UEditor',{toolbars: [
    [
        'source', //源代码
        '|',
        'undo', //撤销
        'redo', //重做
        '|',
        'bold', //加粗
        'italic', //斜体
        'underline', //下划线
        'fontborder', //字符边框
        'strikethrough', //删除线
        'superscript', //上标
        'subscript', //下标
        'removeformat', //清除格式
        'formatmatch', //格式刷
        'autotypeset', //自动排版
        'blockquote', //引用
        'pasteplain', //纯文本粘贴模式
        '|',
        'forecolor', //字体颜色
        'backcolor', //背景色
        'insertorderedlist', //有序列表
        'insertunorderedlist', //无序列表
        'selectall', //全选
        'cleardoc', //清空文档
        '|',
        'customstyle', //自定义标题
        'paragraph', //段落格式
        'fontfamily', //字体
        'fontsize', //字号
        '|',
        'rowspacingtop', //段前距
        'rowspacingbottom', //段后距
        'lineheight', //行间距
        '|',
        'fullscreen', //全屏
        'directionalityltr', //从左向右输入
        'directionalityrtl', //从右向左输入
        'indent', //首行缩进
        '|',
        'justifyleft', //居左对齐
        'justifyright', //居右对齐
        'justifycenter', //居中对齐
        'justifyjustify', //两端对齐
        '|',
        'touppercase', //字母大写
        'tolowercase', //字母小写
        '|',
        'link', //超链接
        'anchor', //锚点
        '|',
        // 'simpleupload', //单图上传
        // 'insertimage', //多图上传
        'attachment', //附件
        'insertcode', //代码语言
        'pagebreak', //分页
        'template', //模板
        'horizontal', //分隔线
        'time', //时间
        'date', //日期
        // 'snapscreen', //截图
        'spechars', //特殊字符
        '|',
        'inserttable', //插入表格
        'deletetable', //删除表格
        'insertparagraphbeforetable', //"表格前插入行"
        'insertrow', //前插入行
        'insertcol', //前插入列
        'mergeright', //右合并单元格
        'mergedown', //下合并单元格
        'deleterow', //删除行
        'deletecol', //删除列
        'splittorows', //拆分成行
        'splittocols', //拆分成列
        'splittocells', //完全拆分单元格
        'deletecaption', //删除表格标题
        'inserttitle', //插入标题
        'mergecells', //合并多个单元格
        '|',
        'print', //打印
        'preview', //预览
        // 'searchreplace', //查询替换
    ]
]});
</script>














	<script language="JScript" for="TANGER_OCX" event="OnDocumentOpened(str,obj)">
									OnDocumentOpened(str,obj);
								</script>
	<script language="JScript" for=TANGER_OCX event="OnDocumentClosed()">
							OnDocumentClosed();
								</script>	
<script language="JScript" for=TANGER_OCX event="OnCustomMenuCmd2(menuPos,submenuPos,subsubmenuPos,menuCaption,menuID)">
								alert("第" + menuPos +","+ submenuPos +","+ subsubmenuPos +"个菜单项,menuID="+menuID+",菜单标题为\""+menuCaption+"\"的命令被执行.");
								</script>
<!--自定义工具栏按钮触发事件-->
<script language="javascript" for="TANGER_OCX" event="OnCustomToolBarCommand(btnIdx)">
	OnCustomToolBarCom(btnIdx);
</script>								
										</body>
</html>