<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <span class="caption-subject font-blue bold uppercase">{{pm.processModelName}}</span>
            <span class="caption-helper">{{pm.initiatorName?pm.initiatorName:pm.initiator}}在{{pm.starttime}}发起了这个流程模型。目前的状态是【{{pm.statusName}}】。  </span>
        </div>
        <ul class="nav nav-tabs ">
            <li class="active">
                <a data-target="#tab_1" data-toggle="tab" translate="content.task.CURRENTTASK">当前任务</a>
            </li>
            <li>
                <a data-target="#tab_2" data-toggle="tab" translate="common.accessoriesAndComments">附件评论</a>
            </li>
            <li>
                <a data-target="#tab_3" data-toggle="tab" translate="content.process.PROCESSNODE">流程节点</a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div id="wizard">
                    <ol>

                    </ol>

                </div>
                <div class="panel panel-info"
                     style="-webkit-overflow-scrolling:touch;-webkit-overflow: auto;overflow: auto;">
                    <div class="panel-heading">
                        <i class="fa  fa-sitemap icon text-info-dker"></i>&nbsp;&nbsp;{{pm.name}}<span
                            class="label bg-light m-l-sm" translate="content.task.status.{{pm.status}}"></span>
                        <div class="btn-group pull-right">
                            <span translate="content.task.priorityLabel"></span>：<span
                                translate="content.task.priorityStatus.{{pm.priority}}"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <iframe style="-webkit-overflow-scrolling:touch;-webkit-overflow: auto;" id="processContent"
                            width="100%" frameborder="0" height="550" src="{{src}}" scrolling="no"></iframe>

                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <input type="hidden" id="processId" value="{{processId}}"/>
                <div class="panel panel-info" style="margin:8px;background:none;">
                    <div class="panel-heading">
                        <i class="fa  fa-comments-o icon text-info-dker"></i>&nbsp;&nbsp;<span
                            translate="common.accessoriesAndComments"></span>
                    </div>
                    <div style="padding:20px;">
                        <div id="notes">
                        </div>
                        <p>&nbsp;&nbsp;<b><span translate="content.process.participants" class="ng-scope"></span>：</b>
                            {{pm.participants}}&nbsp;&nbsp;&nbsp;
                            <script type="text/ng-template" id="selectUser.html">
                                <div ng-include="'userAndGroup/selectUser.html'"></div>
                            </script>
                            <button class="btn m-b-xs btn-sm btn-info btn-addon"
                                    ng-click="setProcessSecurityRole('selectUser.html')"><i class="fa fa-plus"></i><span
                                    translate="content.process.toolbar.addParticipants"></span></button>
                        </p>
                        <div class="clearfix">

                            <a href="{{userHref}}" class="pull-left thumb-sm avatar"><img src="{{userSrc}}" alt="..."
                                                                                          width="30" height="46"></a>
                            <div class="m-l-xxl">
                                <script type="text/ng-template" id="atUserList.html">
                                    <div ng-include="'userAndGroup/atUserList.html'"></div>
                                </script>
                                <input type="hidden" id="at" value="">
                                <div class="input-group">
                                    <input id="content" type="text" ng-keyup="setAt()" class="form-control input-lg"
                                           placeholder="{{'common.pleaseAddComments'|translate}}">
              <span class="input-group-btn">
                <button ng-click="sendProcessNote()" class="btn btn-info btn-lg" type="button"><span
                        translate="common.send"></span></button>
              </span>
                                </div>
                                <div id="attach" style='margin-top:2px;'>

                                </div>
                                <div>
                                    <form id="uploadForm" action="/suite/plugins/servlet/UploadFile" method="post"
                                          enctype="multipart/form-data" target="ifm">
                                        <input type="hidden" name="processModelId" value="{{pm.processModelId}}">
                                        <a href="javascript:;" class="btn btn-info btn-addon"
                                           style="position: relative;display: inline-block;">
                                            <i class="fa fa-paperclip"></i><span
                                                translate="common.addAttachments"></span>
                                            <input name="upload" id="file"
                                                   style="position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;"
                                                   type="file" onchange="selectedFile(this)" style="width:206px;"/>
                                        </a>
                                    </form>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_3">
                <div class="table-responsive">
                    <h3 translate="content.process.PROCESSNODE">流程节点</h3>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr class="uppercase">
                            <th translate="content.process.NUMBER">编号</th>
                            <th translate="content.process.NAME">名称</th>
                            <th translate="content.process.LINE">线道</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="node in nodeList">
                            <td>{{node.guiId}}</td>
                            <td>
                                {{node.type=="task"?node.taskInfo[0].name:node.processInfo[0].name}}
                            </td>
                            <td>
                                {{node.laneName}}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>