<div class="portlet light">

    <!-- <div class="modal-header"> -->
    <div style="margin:0px;">
        <input type="hidden" id="taskId" value="{{taskId}}"/>
        <input type="hidden" id="taskProcessId" value="{{taskProcessId}}"/>
        <input type="hidden" id="taskStatus" value="{{showFlag}}"/>
        <button class="btn btn-square btn-sm green todo-bold todo-inline" ng-show="showFlag"
                ng-click="acceptTasks(tp.id)"><i class="fa fa-check-square"></i><span
                translate="content.task.toolbar.receivingTheTask"></span></button>

        <button class="btn btn-square btn-sm green todo-bold todo-inline" ng-show="showFlag1" ng-click="taskSaveP()"><i
                class="fa  fa-save"></i><span translate="content.task.SAVE">保存</span></button>
        <script type="text/ng-template" id="selectUser.html">
            <div ng-include="'tpl/userAndGroup/selectUser.html'"></div>
        </script>

        <button class="btn btn-square btn-sm green todo-bold todo-inline" ng-show="showFlag1"
                ng-click="reassignTask('selectUser.html','0','转办')"><i class="fa fa-paper-plane"></i><span
                translate="content.task.TODO">转办</span></button>
        <!--<div class="btn-group dropdown" dropdown ng-show="showFlag1">-->
        <!--<button class="btn btn-square btn-sm green todo-bold todo-inline" dropdown-toggle><span translate="content.task.CHANGEPRRIORITY">改变优先级</span><span>-->
        <!--class="caret"></span></button>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href ng-click="setTaskPriority('${tp.id}',2)"><span-->
        <!--translate="content.task.priorityStatus.2"></span></a></li>-->
        <!--<li><a href ng-click="setTaskPriority('${tp.id}',1)"><span-->
        <!--translate="content.task.priorityStatus.1"></span></a></li>-->
        <!--<li><a href ng-click="setTaskPriority('${tp.id}',0)"><span-->
        <!--translate="content.task.priorityStatus.0"></span></a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!-- <script type="text/ng-template" id="countersignUser.html">
            <div ng-include="'tpl/userAndGroup/countersignUser.html'"></div>
        </script> -->
        <button class="btn btn-square btn-sm green todo-bold todo-inline" ng-show="showFlag2"
                ng-click="reassignTask('selectUser.html','0','会签')"><i
                class="fa fa-paper-plane"></i><span>会签</span></button>
        <button class="btn btn-square btn-sm green todo-bold todo-inline" ng-show="showFlag3"
                ng-click="copyTask('selectUser.html')"><i
                class="fa fa-paper-plane"></i><span>转发</span></button>
        <div class="portlet-title tabbable-line pull-right">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-target="#tab_1_1" data-toggle="tab" style="border:0px;" translate="content.task.TASKFORM">
                        任务表单 </a>
                </li>
                <li>
                    <a data-target="#tab_2_1" data-toggle="tab" style="border:0px;"
                       translate="content.task.APPROVALRECORD"> 审批记录 </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body" style="border-top: 1px solid #eee;margin-top:11px;">
            <div data-always-visible="1" data-rail-visible="0">
                <div class="tab-content" style="margin-top: 20px;">
                    <!-- tab_1_1开始 -->
                    <div class="tab-pane fade active in" id="tab_1_1">
                        <div class="modal-body todo-task-modal-body">
                            <div class="todo-task-modal-bg">
                                <i class="glyphicon glyphicon-edit icon text-info-dker"></i>&nbsp;&nbsp;{{tp.display}}<span
                                    class="label bg-light m-l-sm" 
                                    style="color:#333333;"ng-bind="tp.statusName"></span>&nbsp;&nbsp;&nbsp;
                                <span translate="content.task.SINGLENUMBER">单号</span> ：
                                <a href="/suite/plugins/web/index.html#/app/processInfo/{{pp.id}}"
                                   target="_blank">{{pv.processNumber}}</a>&nbsp;&nbsp;
                                <span translate="content.task.DOUCMENTTYPE">单据类型</span>
                                ：{{pp.processModelName}}
                                <div class="btn-group pull-right">
                                    <span translate="content.task.priorityLabel"></span>：<span
                                        ng-bind="tp.priorityName"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/suite/plugins/servlet/PrintViewTaskDetails?taskid={{tp.id}}"
                                       target="_blank"><span translate="common.print" class="ng-scope"></span></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="todo-task-modal-bg">
                                <iframe id="taskContent" width="100%" frameborder="0" height="100%" src=""
                                        scrolling="no"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- tab_1_1结束 -->
                    <!-- tab_1_2开始 -->
                    <div class="tab-pane fade" id="tab_2_1">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bubble font-hide hide"></i>
                                    <span class="caption-subject font-hide bold uppercase"
                                          translate="common.accessoriesAndComments"></span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="notes">
                                </div>
                                <p>&nbsp;&nbsp;<b><span translate="content.process.participants"
                                                        class="ng-scope"></span>：</b>
                                    {{pp.participants}}&nbsp;&nbsp;&nbsp;
                                    <script type="text/ng-template" id="selectUser.html">
                                        <div ng-include="'tpl/userAndGroup/selectUser.html'"></div>
                                    </script>
                                    <button class="btn m-b-xs btn-sm btn-info btn-addon"
                                            ng-click="setProcessSecurityRole('selectUser.html')"><i
                                            class="fa fa-plus"></i><span
                                            translate="content.process.toolbar.addParticipants"></span></button>
                                </p>
                                <div class="clearfix">
                                    <a class="pull-left thumb-sm avatar"><img
                                            src="/suite/plugins/servlet/loadsource/3/{{user.userName}}.png" width="30"
                                            height="46" alt="..."></a>
                                    <div class="m-l-xxl">
                                        <script type="text/ng-template" id="atUserList.html">
                                            <div ng-include="'tpl/userAndGroup/atUserList.html'"></div>
                                        </script>
                                        <input type="hidden" id="at" value="">
                                        <div class="input-group">
                                            <input id="content" type="text" ng-keyup="setAt()"
                                                   class="form-control input-lg"
                                                   placeholder="{{'common.pleaseAddComments'|translate}}">
						              <span class="input-group-btn">
						                <button onclick="sendProcessNote()" class="btn btn-info btn-lg" type="button">
                                            <span translate="common.send"></span></button>
						              </span>
                                        </div>
                                        <div id="attach" style='margin-top:2px;'>

                                        </div>
                                        <div>
                                            <form id="uploadForm" name="uploadForm"
                                                  action="/suite/plugins/servlet/UploadFile" method="post"
                                                  enctype="multipart/form-data" target="ifm">
                                                <input type="hidden" name="processModelId"
                                                       value="{{tp.processModelId}}">
                                                <a href="javascript:;" class="btn btn-info btn-addon"
                                                   style="position: relative;display: inline-block;">
                                                    <i class="fa fa-paperclip"></i><span
                                                        translate="common.addAttachments"></span>
                                                    <input name="upload" id="file"
                                                           style="position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;"
                                                           type="file" onchange="selectedFile(this)"
                                                           style="width:206px;"/>
                                                </a>
                                            </form>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab_1_2结束 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('html,body', window.document).animate({
            scrollTop: '0px'
        }, 'fast');
        var messageid = mini.loading("Loading, Please wait ...", "Loading");

        $("#taskContent").load(function () {
            var mainheight = $(this).contents().find("body").height() + 2000;
            $(this).height(mainheight);
            mini.hideMessageBox(messageid);
        });
    });
</script>



