<!DOCTYPE html>
<html lang="en" class="no-js" data-ng-app="MaterialApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <base target="_self">
    <title>FirstBPM</title>
    <link href="assets/css/firststyle.css" rel="stylesheet" type="text/css"/>
    <!--ie9样式重置-->
    <!--[if IE 9]>
    <link href="assets/css/firststyle-ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
</head>
<body>

<div class="first-warpper">
    <div class="first-order">
        <h4 class="first-order-title" ng-bind="orderTitle"></h4>
        <form name="formName" class="first-form">
            <fieldset>
                <legend>基本信息</legend>
                <div class="col-xs-12 row" ng-if="!isStart">
                <div class="form-group form-row  col-sm-6" >
                    <label> 申请部门：</label>
                    <input class="form-control" ng-model="processVeriables.applyDept" disabled/>
                </div>
                <div class="form-group form-row  col-sm-6">
                    <label> 申请人：</label>
                    <input class="form-control" ng-model="processVeriables.applicant" disabled/>
                </div>
                    </div>
                <div class="col-xs-12 row" ng-if="orderModelId==3157">
                <div class="form-group form-row  col-sm-6 ">
                    <label>维修地点：</label>
                    <input type="text" class="form-control" ng-model="processVeriables.address" ng-disabled="isShow('address')" >
                </div>
                <div class="form-group col-sm-6 form-row">
                    <label>维修预算<span class="redstar">*</span>：</label>
                    <input type="text" class="form-control" ng-model="processVeriables.budget"  ng-disabled="isShow('budget')" >
                </div>

                <div class="form-group col-sm-12 form-row" >
                    <label>维修内容<span class="redstar">*</span>：</label>
                    <textarea class="form-control" ng-model="processVeriables.content"  ng-disabled="isShow('content')"></textarea>
                </div>
                <div class="form-group col-sm-12 form-row" >
                    <label>维修方案：</label>
                    <textarea class="form-control" ng-model="processVeriables.plan"  ng-disabled="isShow('plan')"></textarea>
                </div>
                    <div class="form-group col-sm-6 form-row">
                        <label>申请日期：</label>
                        <input type="text" class="form-control" ng-model="processVeriables.applyDate" disabled>
                    </div>
                    </div>
                <div class="col-xs-12 row" ng-if="orderModelId==3156">
                    <div class="form-group form-row  col-sm-12">
                        <label> 会议名称：</label>
                        <input class="form-control" ng-model="processVeriables.meetingName" data-ng-disabled="isShow('meetingName')"/>
                    </div>
                    <div class="form-group form-row  col-sm-6">
                        <label> 开始时间：</label>
                        <input type="date" class="form-control" ng-model="processVeriables.startDate" data-ng-disabled="isShow('startDate')"/>
                    </div>
                    <div class="form-group form-row  col-sm-6">
                        <label> 结束时间：</label>
                        <input type="date" class="form-control" ng-model="processVeriables.endDate" data-ng-disabled="isShow('endDate')"/>
                    </div>
                    <div class="form-group form-row  col-sm-6">
                        <label> 会议地点<span class="redstar">*</span>：</label>
                        <input class="form-control" ng-model="processVeriables.meetingAdd" data-ng-disabled="isShow('meetingAdd')"/>
                    </div>
                    <div class="form-group form-row  col-sm-6">
                        <label> 会议人数<span class="redstar">*</span>：</label>
                        <input class="form-control" type="number" ng-model="processVeriables.meetingMP" data-ng-disabled="isShow('meetingMP')"/>
                    </div>
                    <div class="form-group form-row  col-sm-12">
                        <label> 需求备注：</label>
                        <textarea class="form-control" ng-model="processVeriables.remark" data-ng-disabled="isShow('remark')"></textarea>
                    </div>

                        <div class="form-group form-row  col-sm-12">
                            <label></label>
                        <span class="remind-message">（备注：综合管理部根据会议轻重缓急统筹安排，请务必提前将需求表发至综合管理部）</span>
                    </div>
                    <div class="form-group form-row  col-sm-6">
                        <label> 申请日期：</label>
                        <input class="form-control" ng-model="processVeriables.applyDate" data-ng-disabled="isShow('applyDate')"/>
                    </div>
                    </div>
            </fieldset>
            <div style="position: relative">
                <ng-include
                        src="'tpl/page/temp-upload.html'"
                        data-ng-controller="ArchiveFileUpload"></ng-include>
            </div>
            <div class="first-footer first-row">
                <input class="form-control" id="note" ng-if="!isShow('note')"/>
                <a class="btn btn-default" ng-click="submit('退回修改')" ng-if="!isShow('btn')">退回修改</a>
                <a class="btn btn-default" ng-click="submit('不同意')" ng-if="!isShow('btn1')">驳回</a>
                <a class="btn btn-primary" ng-click="submit('提交')" ng-if="!isShow('btn2')">提交</a>
            </div>
            <table class="table">
                <tr ng-repeat="note in notes">
                    <td ng-bind="note.content.content"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body" id="modal-body">
        <ng-include src="'tpl/page/temp-archivemanager.html'"></ng-include>
    </div>
</script>
</body>
</html>
