<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" data-ng-app="MaterialApp"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" data-ng-app="MaterialApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="MaterialApp"><!--<![endif]-->

<head>
    <title data-ng-bind="'欢迎来到FirstBPM工作平台'"></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="assets/css/firststyle.css" rel="stylesheet" type="text/css"/>
    <!--ie9样式重置-->
    <!--[if IE 9]>
    <link href="assets/css/firststyle-ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
</head>
<body>
    <div class="first-warpper">
    <div class="first-order">
        <h4 class="first-order-title">资产分类管理</h4>
        <div class="col-md-offset-6 col-md-6 col-xs-12 form-row">
            <label>所属类别：</label>
            <select data-ng-model="type" data-ng-change="selectItem()" class="form-control">
                <option value="" selected>全部</option>
                <option data-ng-repeat="type in typeList track by $index" value="{{type}}">{{type}}</option>
            </select>
            <a class="btn btn-primary right" data-ng-click="addItem()">添加</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>所属分类</th>
                <th>父级分类</th>
                <th>创建日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="category in categorys track by $index">
                <td data-ng-bind="category.ID">ID</td>
                <td data-ng-bind="category.CATEGORY_NAME">名称</td>
                <td data-ng-bind="category.CATEGORY_TYPE">所属分类</td>
                <td data-ng-bind="category.CATEGORY_PARENT_ID">父级分类</td>
                <td data-ng-bind="category.CATEGORY_CREATEDATE">创建日期</td>
                <td><a data-ng-click="updateItem(category.ID)">编辑</a>&nbsp;|&nbsp;<a
                        data-ng-click="deleteItem(category)">删除</a></td>
            </tr>
            </tbody>
        </table>
        <div>
            <uib-pagination total-items="totalItems" ng-model="pageIndex" max-size="5" first-text="第一页" previous-text="上一页"
                            next-text="下一页" last-text="最后页" boundary-links="true"
                            boundary-link-numbers="true"></uib-pagination>
        </div>
    </div>
</div>
</body>
</html>